<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>Peter Rother</title>

    <link href="/base.css" rel="stylesheet" type="text/css" />
    <link href="http://www.peterrother.com/index.xml" rel="alternate" type="application/atom+xml" title="Peter Rother - Atom" />

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-US" />

    <meta name="title" content="Peter Rother" />
    <meta name="description" content="The writings of Peter Rother, an American web developer living in Cincinnati and who is also an avid traveler, photographer, mac user, culture devotee and happy person." />
  </head>

  <body>
  
    <div id="blog-head">
  
      <!-- BEGIN title -->
      <div id="blog-title">
				<span><a href="/index.html">Peter Rother</a></span>
      </div>
      <!-- END title -->

			<!-- BEGIN nav -->
			<ul id="blog-nav">
				<li><a href="/archive.html">Writings</a> •</li>
				<li><a href="/about.html">About</a> •</li>
				<li><a href="/projects.html">Projects</a> •</li>
				<li><a href="/contact.html">Contact</a></li>
			</ul>
			<!-- END nav -->

    </div>

    <div id="blog-content">
      
      <!-- BEGIN entry '{{ TITLE }}' -->
      <h1 class="entry-title">
        <a href="{{ URL }}">{{ TITLE }}</a>
      </h1>

      <div id="entry-meta">
				<b>{{ DATE }}</b>
			</div>

      <div class="entry-body">
        {{ BODY }}
      </div>
      <!-- END entry '{{ TITLE }}' -->
      
    </div>
    
  </body>

</html>
