<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>Peter Rother</title>
    
    <link href="base.css" rel="stylesheet" type="text/css" />
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-US, de-DE" />

		<meta name="title" content="The journal of Peter Rother">
    <meta name="description" content="The writings of Peter Rother, a web developer and passionate internationalite." />
  </head>
  
  <body>
		404
  </body>
  
</html>